server:
  port: 9000
  servlet:
    session:
      cookie:
        name: AUTHSESSIONID

spring:
  application:
    name: auth-server

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    root: WARN
