server:
  port: 9090

spring:
  application:
    name: api-gateway
  config:
    import: "optional:configserver:"
  cloud:
    gateway:
      routes:
        - id: accounts-service
          uri: lb://accounts-service
          predicates:
            - Path=/api/accounts/**
        - id: cash-service
          uri: lb://cash-service
          predicates:
            - Path=/api/cash/**
        - id: transfer-service
          uri: lb://transfer-service
          predicates:
            - Path=/api/transfer/**
        - id: notifications-service
          uri: lb://notifications-service
          predicates:
            - Path=/api/notifications/**
      default-filters:
        - PreserveHostHeader

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    root: WARN
