server:
  port: 8082

spring:
  application:
    name: cash-service
  config:
    import: "optional:configserver:"
  security:
    oauth2:
      client:
        registration:
          cash-client:
            provider: auth-server
            client-id: cash-client
            client-secret: cash-secret
            authorization-grant-type: client_credentials
            scope: accounts,notifications
        provider:
          auth-server:
            token-uri: http://localhost:9000/oauth2/token
