server:
  port: 8082

resilience4j:
  circuitbreaker:
    instances:
      accountClient:
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        sliding-window-size: 10
      notificationClient:
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        sliding-window-size: 10
  retry:
    instances:
      accountClient:
        max-attempts: 3
        wait-duration: 500ms
        retry-exceptions:
          - org.springframework.web.reactive.function.client.WebClientResponseException
          - java.io.IOException
      notificationClient:
        max-attempts: 3
        wait-duration: 500ms
        retry-exceptions:
          - org.springframework.web.reactive.function.client.WebClientResponseException
          - java.io.IOException

logging:
  level:
    io.github.resilience4j: DEBUG

spring:
  application:
    name: cash-service
  config:
    import: "optional:configserver:"
  security:
    oauth2:
      client:
        registration:
          cash-client:
            provider: auth-server
            client-id: cash-client
            client-secret: cash-secret
            authorization-grant-type: client_credentials
            scope: accounts,notifications
        provider:
          auth-server:
            token-uri: http://localhost:9000/oauth2/token
