server:
  port: 8083

spring:
  application:
    name: transfer-service
  config:
    import: "optional:configserver:"
  security:
    oauth2:
      client:
        registration:
          transfer-client:
            provider: auth-server
            client-id: transfer-client
            client-secret: transfer-secret
            authorization-grant-type: client_credentials
            scope: accounts,notifications
        provider:
          auth-server:
            token-uri: http://localhost:9000/oauth2/token
