image:
  repository: apache/kafka
  tag: "3.7.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9092

storage:
  size: 1Gi
  storageClassName: ""

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: "1"
    memory: 1Gi

topic:
  name: bank-notifications
  partitions: 3
  replicationFactor: 1
