replicaCount: 1

image:
  repository: bank/notifications-service
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8084

env:
  SPRING_DATASOURCE_URL: "jdbc:postgresql://bank-notifications-db:5432/bankdb?currentSchema=notifications"
  SPRING_DATASOURCE_USERNAME: "bank"
  SPRING_DATASOURCE_PASSWORD: "bank"
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI: "http://bank-auth-server:9000/oauth2/jwks"
  LOG_LEVEL: "INFO"

resources:
  requests:
    cpu: 200m
    memory: 384Mi
  limits:
    cpu: 500m
    memory: 512Mi
